body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: jura;
  background-color: ivory;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

 .links {
  display: inline-block;
  text-align: center;
  padding: 14px 32px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  color:black;
  }

.Content {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "aboutMe imgContainer";
  background-color: rgb(230, 225, 202)
}

.aboutMe {
  padding:14px 32px;
}

.btn {
  position:absolute;
  background-color: white;
  color: black;
  border: 2px solid; 
  text-decoration: none;
}

.profilePic {
  display: flex;
  box-shadow: initial;
  transform: rotate(20 deg);
  transform: rotate(-20 deg);
}

/*.imgContainer {
  display: inline-block;
  justify-content: space-between;
}*/

.skillsContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  justify-content: space-between;
}

.skillsContainer h3 {
  text-align: center;
}

.skillsContainer ul li {
  list-style-type: none;
}

.research .design .tools li {
  padding-left:0%;
}

.myWork {
  margin-top: 25px;
}

.workGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "sura" 
  "ke" 
  "bdr";
}

.sura .ke .bdr {
  grid-area: "image words" ;

}

.footer {
  /*background-color: rgba(128, 72, 19, 0.911);*/
  background-color: #373738;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align: center;
}

